.TopNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #101549;
  padding: 0.5rem 3vw;
  box-shadow: 0 2px 8px #0002;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-titre {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffd600;
  letter-spacing: 2px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-link {
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 500;
  transition: color 0.2s;
  position: relative;
}

.navbar-link:hover {
  color: #ffd600;
}

.navbar-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffd600;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navbar-link:hover::after {
  width: 100%;
}